body {
    margin: 0;                 /* eltávolítja az alapértelmezett margót */
    height: 50vh;             /* teljes magasság a viewportnak */
    background-image: url("background_desktop.gif");  /* a kép útvonala */
    background-size: cover;       /* a kép kitölti az egész területet */
    background-position: center;  /* középre igazítás */
    background-repeat: no-repeat; /* ne ismétlődjön */
}
@media only screen and (max-width: 600px) {
    body {
         margin: 0;                 /* eltávolítja az alapértelmezett margót */
        height: 50vh;             /* teljes magasság a viewportnak */
        background-image: url("phone_background.gif");  /* a kép útvonala */
        background-size: cover;       /* a kép kitölti az egész területet */
        background-position: center;  /* középre igazítás */
        background-repeat: no-repeat; 
    }




